    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        background-color: #ffffff;
        /*font-family: 'kajuden-fontfull1regular';*/
        
        /*font-family: 'Roboto Slab', serif;*/
    }

@font-face {
    font-family: 'kokugl';
    src: url('../site1/font/font_1_kokugl_1.15_rls.eot') format('embedded-opentype'), url('../site1/font/font_1_kokugl_1.15_rls.eot?#iefix') format('embedded-opentype'), url('.,/site1/font/font_1_kokugl_1.15_rls.woff') format('woff'), url('../site1/font/font_1_kokugl_1.15_rls.ttf') format('truetype');
    /*url('fontname.svg#fontset') format('svg');*/
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kajuden-fontfull1regular';
    src: url('../site2/font/kajudenfont-full-regular-webfont.eot');
    src: url('../site2/font/kajudenfont-full-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../site2/font/kajudenfont-full-regular-webfont.woff') format('woff'), url('../site2/font/kajudenfont-full-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.camera{
    width: 40%;
    margin: 0 auto;
    font-family: 'Amatic SC', cursive;
}

.camera a{
    height: 300px;
}

.camera img{
    width: 32%;
    margin-top: 180px;
    text-align: center;
    -webkit-filter: blur(0);
	filter: blur(0);
}

.camera:hover img:not(:hover){
  -webkit-filter: blur(1.0px);
	filter: blur(1.0px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


    

@media only screen and (max-width: 900px){
    .camera{
    width: 70%;
    margin: 0 auto;
    font-family: 'Amatic SC', cursive;
    
}

.camera img{
    width: 32%;
    margin-top: 180px;
    
}
}



.text {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #898989;
    letter-spacing: 3px;
    font-family: 'Amatic SC', cursive;
}

.text h1 {
    margin-top: 35px;
}

.text a{
    margin-top: 10px;
    text-decoration: none;
    color: #898989;
    display: block;
}

.text a:hover{
    color: rgb(47, 168, 199);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
}


  /*  .crossfade > figure {
        animation: imageAnimation 30s linear infinite 0s;
        backface-visibility: hidden;
        background-size: cover;
        background-position: center center;
        color: transparent;
        height: 100%;
        left: 0px;
        opacity: 0;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 0;
    }
    
    .crossfade > figure:nth-child(1) {
        background-image: url('../img/back.jpg');
    }
    
    .crossfade > figure:nth-child(2) {
        animation-delay: 6s;
        background-image: url('../img/hanabi.jpeg');
    }
    
    .crossfade > figure:nth-child(3) {
        animation-delay: 12s;
        background-image: url('../img/otamagawa.png');
    }
    
    .crossfade > figure:nth-child(4) {
        animation-delay: 18s;
        background-image: url('../img/back.jpg');
    }
    
    .crossfade > figure:nth-child(5) {
        animation-delay: 24s;
        background-image: url('../img/hanabi.jpeg');
    }
    
    @keyframes imageAnimation {
        0% {
            animation-timing-function: ease-in;
            opacity: 0;
        }
        8% {
            animation-timing-function: ease-out;
            opacity: 1;
        }
        17% {
            opacity: 1;
        }
        25% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
    
    .text {
        width: 95%;
        font-size: 70px;
        color: #fff;
        position: relative;
        z-index: 1;
        margin-left: auto;
        transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
    }
    
    .text a {
        text-decoration: none;
        color: #fff;
        display: block;
    }
    
    .text a:hover {
        color: #898989;
        transition: 0.5s;
    }
    */
    .remodal a {
        text-decoration: none;
        color: #898989;
    }

.remodal {
    /*color: rgb(47, 168, 199);*/
    border: solid 2px #9edde4;
    margin: 0;
    overflow: hidden;
    font-family: 'kajuden-fontfull1regular';
}



.right{
    float: right;
    padding: 10px;
    width: 45%;
    color: #5f5f5f;
}
.right h1{
    text-align: left;
}

.right h2{
    margin-top: 15px;
    text-align: left;
}

.right p {
    margin: 15px;
    text-align: left;

}

.right img{
    width: 20px;
    margin: 5px;
    margin-top: 10px;
    text-align: right;
    float: right;
}



.left {
    width: 45%;
    float: left;
}

.left img{
    width: 100%;
}

@media only screen and (min-device-width: 425px) and (max-device-width: 600px){
       .right{
    padding: 10px;
        position: relative;
           width: 45%;
}
    
    .left {
        position: fixed;
        size:cover;
        overflow: hidden;
}
    
    .left img{
        height: 100%;
        overflow: auto;
    }
}


@media only screen and (max-width: 425px){
    
    .right{
    padding: 10px;
    width: 45%;
        position: relative;
}
    
    .left {
        width: 70%;
        height: 100%;
        position: fixed;
        size:cover;
        overflow: hidden;
}
    
}
